aiohttp
async-timeout
attrs
certifi
cffi
chardet
charset-normalizer
discord.ext.context
discord.py
idna==
multidict
mutagen
pycparser
pycryptodomex
PyNaCl
requests
six
typing-extensions
urllib3
websockets
yarl
youtube-dl==2021.12.17
yt-dlp
